.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 70px;
  background: radial-gradient(circle, rgb(70, 93, 194), #003581);
  /* background: #003581; */
}

.api-name {
  color: #eee;
  width: 100%;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 35px;
  text-shadow: 0 3px 1px #222, 0px 5px 10px rgba(0, 0, 0, 0.452);
}

.chart {
  border: 3px solid rgba(51, 51, 51, 0.904);
  box-shadow: 0px 0px 20px -5px #000;
}
